<div layout="column"> 
<div class="container" layout="row" flex>
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp ">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>
            <md-list ng-controller="sidenav as sidenavCtrl">
                <md-list-item>
                    <md-button class="md-raised md-{{sidenavCtrl.busColor}}" layout="row" ng-click="sidenavCtrl.bus()" style="width:100%">
                        <img src="img/map.png" style="padding-right:1.5em" class="md-avatar" alt="buses" /> Map
                    </md-button>
                </md-list-item>

                <md-list-item style="text-align:left">
                    <md-button class="md-raised md-{{sidenavCtrl.userColor}}" layout="row" ng-click="sidenavCtrl.user()" style="width:100%">
                        <img src="img/user.png" style="padding-right:1em" class="md-avatar" alt="user" /> users
                    </md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item style="padding-top:5%">
                    <md-button class="md-raised md-{{sidenavCtrl.routeaddColor}}" layout="row" ng-click="sidenavCtrl.routeadd()" style="width:100%">
                        <img src="img/route.png" style="padding-left:1em" class="md-avatar" alt="add user" /> Add Route
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-raised md-{{sidenavCtrl.useraddColor}}" layout="row" ng-click="sidenavCtrl.useradd()" style="width:100%">
                        <img src="img/useradd.png" class="md-avatar" alt="add user" /> Add user
                    </md-button>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-raised md-{{sidenavCtrl.busaddColor}}" layout="row" ng-click="sidenavCtrl.busadd()" style="width:100%">
                        <img src="img/busadd.png" style="padding-left:1em" class="md-avatar" alt="add bus" /> Add Buses
                    </md-button>
                </md-list-item>

            </md-list>
        </md-sidenav>
        <md-content flex>
        </div>    
        </div>